.def_color					{fill:rgb(75,0,130);}
.state.Andaman.and.Nicobar	{fill:rgb(220,0,220);}
.state.Andhra.Pradesh		{fill:rgb(180,0,180);}
.state.Arunachal.Pradesh	{fill:rgb(140,0,140);}
.state.Assam				{fill:rgb(100,0,100);}
.state.Bihar				{fill:rgb(60,0,60);}
.state.Chandigarh			{fill:rgb(220,220,0);}
.state.Chhattisgarh			{fill:rgb(180,180,0);}
.state.Dadra.and.Nagar.Haveli	{fill:rgb(140,140,0);}
.state.Daman.and.Diu		{fill:rgb(100,100,0);}
.state.Delhi				{fill:rgb(60,60,0);}
.state.Goa					{fill:rgb(0,220,220);}
.state.Gujarat				{fill:rgb(0,180,180);}
.state.Haryana				{fill:rgb(0,140,140);}
.state.Himachal.Pradesh		{fill:rgb(0,100,100);}
.state.Jammu.and.Kashmir	{fill:rgb(0,60,60);}
.state.Jharkhand			{fill:rgb(220,0,100);}
.state.Karnataka			{fill:rgb(180,0,60);}
.state.Kerala				{fill:rgb(140,0,20);}
.state.Lakshadweep			{fill:rgb(220,100,0);}
.state.Madhya.Pradesh		{fill:rgb(180,60,0);}
.state.Maharashtra			{fill:rgb(140,20,0);}
.state.Manipur				{fill:rgb(0,220,100);}
.state.Meghalaya			{fill:rgb(0,180,60);}
.state.Mizoram				{fill:rgb(0,140,20);}
.state.Nagaland				{fill:rgb(0,100,220);}
.state.Orissa				{fill:rgb(0,60,180);}
.state.Puducherry			{fill:rgb(0,20,140);}
.state.Punjab				{fill:rgb(100,0,220);}
.state.Rajasthan			{fill:rgb(60,0,180);}
.state.Sikkim				{fill:rgb(20,0,140);}
.state.Tamil.Nadu			{fill:rgb(100,220,0);}
.state.Telangana			{fill:rgb(60,180,0);}
.state.Tripura				{fill:rgb(20,140,0);}
.state.Uttaranchal			{fill:rgb(180,180,180);}
.state.Uttar.Pradesh		{fill:rgb(120,120,120);}
.state.West.Bengal			{fill:rgb(60,60,60);}
